@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <section class="hero">
        <div>
          <h1>@Model.Value("showcaseTitle")</h1>
          <p>
            @Model.Value("showcaseDescription")
          </p>
          <a href="@Model.Value("showcaseButtonURL")" class="btn btn-custom">
            @Model.Value("showcaseButtonText") <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </a>
          <a  href="/service"  class="btn btn-outline-dark">
            Learn more <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </a>
        </div>
    @{
        var showcaseImage = Model.Value<MediaWithCrops>("showcaseImage");
        if(showcaseImage != null)
        {
            <img class="hero-img" src="@showcaseImage.MediaUrl()" alt="@Model.Value("showcaseTitle")" />
        }

        }
       
      </section>