@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithShowcase.cshtml";
}
@await Html.PartialAsync("_BrandSection")

    <article class="features">
        <div class="div2">
          <p class="text-warning">@Model.Value("serviceFeaturesSectionTitle")</p>
          <h2>@Model.Value("serviceFeaturesHeading")</h2>
          <button type="button"href="@Model.Value("serviceFeaturesButtonUrl")" class="btn btn-features">
            @Model.Value("serviceFeaturesButtonText")<i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
        </div>
       
       @Html.GetBlockListHtml(Model.ServiceFeatures) 
       
    </article>
      
    <section class="services">
        <div class="heading">
          <p class="text-warning">@Model.Value("ourServicesSectionTitle")</p>
          <h2>
           @Model.Value("ourServicesSectionHeading")
          </h2>
        </div>
        <div class="cards">
          
           @Html.GetBlockListHtml(Model.OurServices) 
        
        </div>
    </section>
